@media only screen and (max-width: 620px) {
   /* For mobile phones: */
   .menu, .main, .right {
     width: 100%;
   }
   
 }

 a{
   color: black;
 }
 

body{
background-color:beige;
color: black;
}
 .Style1{
font-size: 25px;
display: flex;
justify-content: center;
align-items: center;

 }
 .Style2{
    display: grid;
    justify-content: center;
    align-items: center;
    max-width:100%;
    height:auto;
     }

 nav {


display: flex;
justify-content:flex-end;
align-items:end;
gap: 30px;
background: rgb(255,228,170);
background: linear-gradient(0deg, rgba(255,228,170,1) 0%, rgba(34,116,195,1) 100%);

 }

 .Footer{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 25px;
    
 }
 .P{
    display: flex;
    justify-content:center;
    align-items:flex-end;
    gap: 20px;
    
 }
 